<form [formGroup]="postForm" (ngSubmit)="updatePost()">
  <h3>Update Post</h3>
  <hr />
  <div class="mb-3">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      formControlName="title"
    />
    <div
      class="mt-2 text-danger"
      *ngIf="postForm.get('title')?.touched && postForm.get('title')?.invalid"
    >
      <div *ngIf="postForm.get('title')?.errors?.['required']">
        Title is required
      </div>
      <div *ngIf="postForm.get('title')?.errors?.['minlength']">
        Title should contain atleast 6 characters
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      class="form-control"
      cols="30"
      rows="5"
      formControlName="description"
    ></textarea>

    <div class="mt-2 text-danger">{{ showDescriptionError() }}</div>

    <div class="my-3">
      <button class="btn btn-primary" [disabled]="postForm.invalid">
        Update Post
      </button>
    </div>
  </div>
</form>
